@{

}
Welcome ,admin and i am only accesible to the admin

<h2>Choose an Action</h2>

<div class="list-group">
	<ul>
		<li><a href="@Url.Action("GetRoom", "Admin")">Get Room</a></li>
		<li><a href="@Url.Action("CreateRoom", "Admin")">Create Room</a></li>
		<li><a href="@Url.Action("GetBookingDetails", "Admin")">Booked Room Details</a></li>
		@*<li><a href="@Url.Action("EditRoom", "Admin")">Edit Room</a></li>
		<li><a href="@Url.Action("GetRoomDetails", "Admin")">Get Room Details</a></li>
		<li><a href="@Url.Action("DeleteRoom", "Admin")">Delete Room</a></li</ul>*@

</div>